{% extends "todo/layout.html" %}


{% block body %}

<div class="container">
    <br><br><br>
    <h1 style="text-align: center;"> Organize everthing with MyDoList </h1>
    <br><br>
    <p style="font-size:30px;">Get all those tasks out of your head and add them to your
        to-do list so that you can think more clearly and calmly.</p>
    <br><br>
    <div style="text-align:center;">
     <a  href="{%url 'todo' %}" class="btn btn-primary btn-lg active" >Go and Try </a>
    </div>
</div>

{% endblock %}
